<!DOCTYPE html>
<html>
<head>
	<title>Zendesk Ticket Viewer</title>	
	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- CSS -->
	<link rel="stylesheet" href="../styles/index.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Pagination -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
</head>
<body>
	<div class="container">
		<!-- NavBar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<img src="https://d16cvnquvjw7pr.cloudfront.net/www/img/p-brand/downloads/Logo/Zendesk_logo_on_green_RGB.png" alt="">
					<a class="navbar-brand back" href="#">Zendesk Ticket Viewer</a>
				</div>
			</div><!-- /.container-fluid -->
		</nav>
		<div id="selected-ticket" class="container" style="display: none;">
			<div>
				<!-- Show Ticket Display -->
				<p id="selected-ticket-id"></p>
				<h5>Ticket Subject: </h5>
				<h4 id="selected-ticket-subject"></h4>
				<hr>
				<p id="selected-ticket-desc"></p>
				<span id="selected-ticket-priority"></span>
				<button class="btn btn-primary back">Back</button>
			</div>
			</div>
					<div id="ticket-table" class="container">
				<!-- populate data here -->
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Subject</th>
							<th scope="col">Status</th>
							<th scope="col">Priority</th>
						</tr>
					</thead>
					<tbody id="tickets-list">
						<!-- List populated here -->
					</tbody>
				</table>
					</div>
		<!-- Pagination -->
		<nav aria-label="Page navigation bottom" id="pages">
			<ul id="pagination" class="pagination">
			  <li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1">Previous</a>
			  </li>
			  <li class="page-item"><a class="page-link" href="#">1</a></li>
			  <li class="page-item"><a class="page-link" href="#">2</a></li>
			  <li class="page-item"><a class="page-link" href="#">3</a></li>
			  <li class="page-item">
				<a class="page-link" href="#">Next</a>
			  </li>
			</ul>
		  </nav>
		</div>
	</div>
	<script src="../js/tickets.js"></script>	
</body>
</html>